.container {
	height: 54px;
	width: 100%;
	display: flex;
	margin-top: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 22px;
	border: 1px gray solid;
}

.inputLabel {
	display: none;
}

.counter {
	text-align: center;
	min-height: inherit;
	font-family: inherit;
	border: none;
	color: gray;
	background-color: black;
	height: 100%;
	width: 100%;
	max-width: 40%;
}

.decreaseButton {
	font-family: inherit;
	cursor: pointer;
	min-height: inherit;
	border: none;
	color: gray;
	font-size: 20px;
	border-left: 1px solid gray;
	border-radius: 22px;;
	background-color: black;
	height: 100%;
	width: 100%;
}

.increaseButton {
	font-family: inherit;
	cursor: pointer;
	min-height: inherit;
	border: none;
	color: gray;
	font-size: 20px;
	border-right: 1px solid gray;
	border-radius: 22px;;
	background-color: black;
	height: 100%;
	width: 100%;
}

.mintButton {
	cursor: pointer;
	background: white;
	font-family: inherit;
	width: 100%;
	background-color: #6366f1;
	color: white;
	border: 1px solid gray;
	width: 100%;
}

.mintButton:disabled {
	color: gray;
	cursor: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
