.container {
	display: flex;
	flex-wrap: wrap;
}

.title {
	margin: auto;
	color: white;
	font-size: 64px;
}

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	justify-content: center;
	align-items: center;
	padding: 16px;
}

.modalContent {
	background-color: #fefefe;
	margin: auto;
}

.button {
	cursor: pointer;
	background-color: #e57373;
	padding: 0px 16px;
	color: white;
	font-size: 18px;
	min-height: 36px;
	min-width: 64px;
	width: 100%;
	border: 0px;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
